.form-nama-mobil {
    display: flex
}

.rank-math-breadcrumb {
    padding-bottom: 27px;
    font-size: 18px;
}

.cars {
    color: black;
    font-weight: bold;
}

.list-car {
    color: black;
    font-weight: bold;
}

.add-new-car {
    padding-bottom: 16px;
    font-weight: bold;
    font-size: 30px;
}

.tombol {
    color: blue;
}

.button-cancel {
    color: blue;
}

.button-save {
    color: blue;
}
