.section-title{
    border-left: 4px solid #0D28A6;
    h2{
        font-weight: 700;
        font-size: 14px;
        color: #000;
        margin-left: 8px;
        line-height: 24px !important;
    }
}