* {
  margin: 0px;
  padding: 0px;
}

.title {
  display: flex;
  width: 1101px;
  justify-content: space-between;
  h1 {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: black;
  }
  button {
    width: 143px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
    background: #0d28a6;
    border-radius: 2px;
    color: white;
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }
}

.category {
  display: flex;
  gap: 16px;
  button {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;

    width: 102px;
    height: 36px;
    background: #ffffff;
    border: 1px solid #aeb7e1;
    border-radius: 2px;
    color: #aeb7e1;
  }
  .active {
    border: 1px solid #0d28a6;
    border-radius: 2px;
    background: #cfd4ed !important;
    color: #0d28a6;
  }

  .all-cars {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;

    width: 102px;
    height: 36px;
    background: #ffffff;
    border: 1px solid #aeb7e1;
    border-radius: 2px;
    color: #aeb7e1;
  }

  .small {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    background: #ffffff;
    border: 1px solid #aeb7e1;
    border-radius: 2px;
    color: #aeb7e1;

    width: 102px;
    height: 36px;
  }
}

.medium {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  background: #ffffff;
  border: 1px solid #aeb7e1;
  border-radius: 2px;
  color: #aeb7e1;

  width: 102px;
  height: 36px;
}
.large {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  background: #ffffff;
  border: 1px solid #aeb7e1;
  border-radius: 2px;
  color: #aeb7e1;
  width: 102px;
  height: 36px;
}

.car-list-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  .car-card-container {
    width: 351px;
    height: 482px;
    .card-content {
      padding: 24px;
      .card-image {
        display: flex;
        width: 303px;
        height: 222px;
        justify-content: center;
        img {
          width: 270px;
          height: 160px;
        }
        .content-desc {
          p {
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
          }
          h1 {
            font-family: "Arial";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
    .action-button {
      padding: 24px;
      display: flex;
      gap: 16px;
      .delete-button {
        background: #ffffff;
        border: 1px solid #fa2c5a;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 12px;
        gap: 10px;

        width: 143.5px;
        height: 48px;
        cursor: pointer;
        a {
          color: #fa2c5a;
        }
      }
      .edit-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 12px;
        gap: 12px;

        width: 143.5px;
        height: 48px;

        background: #5cb85f;
        border-radius: 2px;
        a {
          color: #ffffff;
        }
      }
    }
  }
}
