.page-paymentupload{
    #banner{
        margin-bottom: -60px !important;
        .banner{
            height: 200px !important;
        }
    }
    #breadcrumb-payment{
        margin-bottom: 55px;
    }
}