.login {

    .left-section {
      background-color: #fff;
      width: 720px;
      height: 100vh;
  
      .form-container {
        .login-form,
        .login-button {
          width: 370px;
        }
  
        .login-button {
          background-color: #0d28a6;
        }
  
        .login-button-text {
          margin-top: 10px;
  
          a {
            font-weight: 600;
          }
        }
      }
    }
  
    .right-section {
      @media (max-width: 600px) {
        visibility: hidden !important;
      }
  
      background-color: #0d28a6;
      width: 720px;
      height: 100vh;
  
      .text-logo {
        width: 500px;
        color: #fff;
      }
    }
  }
  